.appoiments {
  width: 800px;
  height: 350px;
  border-radius: 10px;
  background-color: white;
}
.upcoming-button,
.past-button,
.medical-button {
  padding: 0px 20px;
  border-radius: 5px;
  border-color: 2px solid grey;
  background-color: lightgray;

  /* border: none; */
}
.header_buttons {
  background-color: grey;
  padding: 5px 10px;
  border: 5px;
}

.upcoming-button:hover {
  background-color: white;
}
.past-button:hover {
  background-color: white;
}
.medical-button:hover {
  background-color: white;
}
.appoiments {
  height: 350px;
}
